<div class="text-center">
  <h1>Eventbrite-like, with Devise and Stripe</h1>
  <img src="THP_BDX.png" /><br />
  <% if !signed_in? %>
  <%= link_to "S'inscrire", new_user_registration_path, class: "btn-lg btn-primary" %>
  <%= link_to "Se connecter", new_user_session_path, class: "btn-lg btn-success" %>
  <% end %>
</div>
