<footer>
  <div id="footer" class="bg-dark">
    <div class="container text-center">
    <p class="footer-block">Réalisé par <a href="https://github.com/DaTikh" class="text-danger">bab</a> avec plein de chocolatines.</p>
    <p>Team THP BDX - 2018</p>
    </div>
  </div>
</footer>
